
<div class='choice-question'>
	<div ng-switch='question.allow_multiple_selection'>
		<fieldset class='standard' ng-switch-when='true'>
			<md-checkbox
				ng-checked='poll.value.indexOf(choice.id) > -1'
				ng-repeat='choice in question.choice_set'
				ng-click='poll.value.indexOf(choice.id) > -1 ? poll.value.splice(poll.value.indexOf(choice.id), 1) : poll.value.push(choice.id)'>
				{{ choice.text }}
				<span class='text-muted' ng-hide='choice.text.length > 0'>Choice {{ $index + 1 }}</span>
			</md-checkbox>
		</fieldset>
		<md-radio-group layout='row' layout-align='space-between' layout-wrap ng-switch-default ng-required='true' ng-model='poll.value[0]'>
			<div flex='50' ng-repeat="choice in question.choice_set">
				<md-radio-button
					ng-value="choice.id"
					aria-label="{{ choice.text  }}">
					{{ choice.text }}
				</md-radio-button>
			</div>
		</md-radio-group>
	</div>
</div>
