<div class='app-view' id='account' layout='row' layout-align='center'>
	<div class='panel panel-default text-center max-width no-min-width' flex='90' flex-sm='95'>
		<div class='panel-body' layout='row' layout-wrap>

			<div flex='60' flex-sm='100'>
				<h4 class='text-left account-heading'>
					<span ng-show='recentSurveys.length == 0'>No</span>
					Recent Surveys
				</h4>
				<div class='list-group text-left'>
					<a ng-href='#/feed?survey={{ survey.id }}' class='list-group-item' ng-repeat='survey in recentSurveys'>
						<div layout-align='start center' layout='row' layout-wrap>
							<div class='list-group-item-heading' flex ng-cloak>{{ survey.title }}</div>
							<div class='text-center'>
								<div class='badge' ng-cloak>
									{{ survey.num_upvotes - survey.num_downvotes }}
									<span class='glyphicon glyphicon-leaf'></span>
								</div>
							</div>
						</div>
					</a>
					<a ng-repeat='a in emptyFillSurveys track by $index' class='list-group-item'></a>
				</div>
			</div>
			<div flex flex-sm='100'>
				<h4 class='text-left account-heading'>
					Statistics: <span class='hidden' ng-bind='user.profile.points'></span>
				</h4>
				<button ng-click='account.logout()' class='btn btn-danger' style='margin-top: 50px'>
					LOG OUT
				</button>
			</div>
		</div>
	</div>
</div>
