<div id='feed' class='app-view' layout='row' layout-align='center'>



	<div flex layout='row' class='padded max-width' layout-align='center'>
		<div flex class='padded'>

			<form ng-submit='submit()' name='surveyForm'> <!-- class='col-md-6 col-md-offset-2 col-sm-8 col-sm-offset-0' -->


				<div class='loading-icon-container' ng-hide='survey.poll_set'>
					<div class='loading-icon' layout='row' layout-align='center center'>
						<md-progress-circular md-mode="indeterminate"></md-progress-circular flex>
					</div>
				</div>

				<!-- Previous & Next Buttons -->
				<!-- Need 2?
				<div class='next-buttons-mobile'>
					<div class='btn-group md-whiteframe-z1 full-length' role='group'>
						<button ng-disabled='surveyLocation <= 0' ng-click='previous()' type='button' class='md-whiteframe-z1 btn btn-default'>
							<span class='glyphicon glyphicon-chevron-left'></span>
						</button>
						<button ng-click='next()' type='button' class='btn btn-success'>
							<span class='glyphicon glyphicon-chevron-right'></span>
						</button>
					</div>
				</div>
				-->


				<!-- All poll panels -->
				<div class='interpanel' ng-repeat='poll in survey.poll_set'>

					<!-- MAIN PANEL -->
					<div class='demo'>
						<div class='main panel panel-default'>

							<div class='panel-heading text-center'>
								{{ poll.title }}

								<div class='additional-operations flex-center'>
									<div class="dropdown-toggle flex-center" data-toggle="dropdown" ng-show='survey.isOwned'>
										<span class="caret"></span>
									</div>
									<ul class="dropdown-menu" role="menu">
										<li style="cursor:pointer">
											<a href ng-click='deletePoll(poll)'>Delete Individual Poll</a>
										</li>
										<li style="cursor:pointer">
											<a href ng-click='deleteSurvey(poll)'>Delete Entire Survey</a>
										</li>
									</ul>
								</div>
							</div>


							<div class='panel-body'>
								<div class='well well-sm' ng-show='poll.description.length > 0' ng-bind='poll.description'></div>
								<specific-poll ng-hide='survey.showResults' poll='poll' questiontype='polltype_mapping[poll.poll_type]'></specific-poll>

								<!-- RESULTS -->
								<div class='padded' ng-show='survey.showResults'>
									<div layout='column' class='text-center' ng-controller='ResultsController as results'>

										<div class='keys' layout='row' ng-show='isPie'>
											<div class='key' flex='33' ng-repeat='label in labels'>
												<div class='color-block' style='background: {{ colors[$index % colors.length] }}'></div>
												<span>{{ label }}</span>
											</div>
										</div>

										<div class='results'>
											<canvas ng-hide='noResults'></canvas>
										</div>
										<div class='flex-center' ng-show='noResults'>No Results! (You are the first voter)</div>
									</div>
								</div>
							</div>

						</div> <!-- /panel -->
					</div>

				</div>

				<!-- Previous & Next Buttons -->
				<div class='next-buttons-mobile'>
					<div class='btn-group md-whiteframe-z1 full-length' role='group'>
						<button ng-disabled='surveyLocation <= 0' ng-click='previous()' type='button' class='md-whiteframe-z1 btn btn-default'>
							<span class='glyphicon glyphicon-chevron-left'></span>
						</button>
						<button ng-click='next()' type='button' class='btn btn-success'>
							<span class='glyphicon glyphicon-chevron-right'></span>
						</button>
					</div>
				</div>


				<!-- BOTTOM PANEL -->
				<div class='padded-extra text-center'>
					<div class='buttons panel panel-default' ng-show='survey.poll_set'>
						<div class='panel-body'>

							<!-- SURVEY CREATOR -->
							<div class='survey-owner'>
								Posted {{ survey.time_ago }} ago by <span ng-bind='survey.owner.username' class='username'></span>
							</div>

							<!-- BUTTONS -->
							<div layout='row' layout-align='center center'>

								<!-- VOTING -->
								<div class='voting-container'>
									<!-- UPVOTE / DOWNVOTE -->
									<span>
										<div class='btn-group-vertical' role='group'>
											<button type='button' ng-class='{"btn-success": survey.voteData.survey_vote}' class='btn' ng-click='givePoint(true)'>▲</button>
											<button type='button' ng-class='{"btn-danger": !survey.voteData.survey_vote && survey.voteData.survey_vote != null}'
												class='btn' ng-click='givePoint(false); loginNextUser()'>▼</button>
										</div>
									</span>

									<!-- CURRENT NUMBER OF POINTS -->
									<span class='well points'>
										<span ng-bind='voteAmount()'></span>
										<span class='glyphicon glyphicon-leaf'></span>
									</span>
								</div>

								<!-- BUTTONS -->
								<div flex ng-hide='survey.showResults' layout='row' layout-sm='column' layout-align='center center' layout-margin style='margin: 0px'>
									<button flex ng-disabled='surveyForm.$invalid' type='submit' class='btn btn-primary'>Submit</button>
									<button flex type='button' ng-click='survey.showResults=true' class='btn btn-default'>Results</button>

									<!-- Allow user to go back to survey after viewing results
									<button ng-show='survey.showResults && !survey.submitted' type='button'
									ng-click='survey.showResults=false' class='btn btn-default'>Back to Survey</button>
									-->
									<!--
									<button ng-click='loginNextUser()' type='button' class='comment btn btn-success'>
										COMMENT
									</button>
									-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- SIDE MENU -->
		<div flex='33' class='padded sidebar-layout-container'>
			<div class='fixed-container'>
				<div class='side panel panel-primary'>
					<div class='panel-heading text-center'>
						<div class='btn-group full-length' role='group'>
							<button ng-disabled='surveyLocation <= 0' ng-click='previous()' type='button' class='btn btn-default'>
								<span class='glyphicon glyphicon-chevron-left'></span>
							</button>
							<button ng-disabled='surveyLocation + 1 >= loadedSurveys.length' ng-click='next()' type='button' class='btn btn-success'>
								<span class='glyphicon glyphicon-chevron-right'></span>
							</button>
						</div>
					</div>
					<div class='panel-body'>
						<div class='list-group-container'>
							<div class='list-group'>
								<a ng-click='gotoSurvey(loadedSurvey)' href ng-class='{active: survey.id == loadedSurvey.id}'
									ng-repeat='loadedSurvey in loadedSurveys' class='list-group-item'>
                                    {{ loadedSurvey.title }}
									<span ng-hide='loadedSurvey.poll_set[0].title.length'>Untitled</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div> <!-- /container -->
