<div id='feed' class='container app-view'>

<div class='row'>

	<form ng-submit='submit()' name='surveyForm' class='col-md-6 col-md-offset-2 col-sm-8 col-sm-offset-0'>


		<div class='loading-icon-container' ng-hide='survey.poll_set'>
			<div class='loading-icon' layout='row' layout-align='center center'>
				<md-progress-circular md-mode="indeterminate"></md-progress-circular flex>
			</div>
		</div>

		<div class='interpanel row' ng-repeat='poll in survey.poll_set'>


			<!-- MAIN PANEL -->
			<div class='demo'>

				<div class='main panel panel-default'>

					<div class='panel-heading text-center'>
						{{ poll.title }}
					</div>


					<div class='panel-body'>
						<div class='row'>
							<div class='col-md-offset-2 col-md-8'>
								<div class='well well-sm' ng-show='poll.description.length > 0' ng-bind='poll.description'></div>
							</div>
						</div>
						<div class='row'>
							<div class='col-md-12'>
								<specific-poll ng-hide='survey.showResults' poll='poll' questiontype='polltype_mapping[poll.poll_type]'></specific-poll>

								<!-- RESULTS -->
								<div ng-show='survey.showResults' class='results text-center' ng-controller='ResultsController as results'>
									<canvas></canvas>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- /panel -->

			</div>
		</div>


		<!-- BOTTOM PANEL -->
		<div class='row text-center'>
			<div class='col-md-10 col-md-offset-1'>
				<div class='buttons panel panel-default' ng-show='survey.poll_set'>
					<div class='panel-body'>

						<!-- SURVEY CREATOR -->
						<div class='survey-owner'>
							Posted {{ survey.time_ago }} ago by <span ng-bind='survey.owner.username' class='username'></span>
						</div>

						<!-- BUTTONS -->
						<div layout='row'>

							<!-- VOTING -->
							<div flex>
								<!-- UPVOTE / DOWNVOTE -->
								<span>
									<div class='btn-group-vertical' role='group'>
										<button type='button' ng-class='{"btn-success": survey.voteData.survey_vote}' class='btn' ng-click='givePoint(true)'>▲</button>
										<button type='button' ng-class='{"btn-danger": !survey.voteData.survey_vote && survey.voteData.survey_vote != null}'
											class='btn' ng-click='givePoint(false); loginNextUser()'>▼</button>
									</div>
								</span>

								<!-- CURRENT NUMBER OF POINTS -->
								<span class='well points'>
									<span ng-bind='voteAmount()'></span>
									<span class='glyphicon glyphicon-leaf'></span>
								</span>
							</div>

							<!-- BUTTONS -->
							<div flex='50' ng-hide='survey.showResults' layout='row' layout-align='center center' layout-margin>
								<button flex ng-disabled='surveyForm.$invalid' type='submit' class='btn btn-primary'>Submit</button>
								<button flex type='button' ng-click='survey.showResults=true' class='btn btn-default'>Results</button>

								<!-- Allow user to go back to survey after viewing results
								<button ng-show='survey.showResults && !survey.submitted' type='button' ng-click='survey.showResults=false' class='btn btn-default'>Back to Survey</button>
								-->
								<!--
								<button ng-click='loginNextUser()' type='button' class='comment btn btn-success'>
									COMMENT
								</button>
								-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>




	<!-- SIDE MENU -->
	<div class='col-md-3'>
		<div class='side panel panel-primary' style='position: fixed; width: 20%'>
			<div class='panel-heading text-center'>
				<div class='btn-group' role='group'>
					<button ng-disabled='surveyLocation <= 0' ng-click='previous()' type='button' class='btn btn-default'>
						<span class='glyphicon glyphicon-chevron-left'></span>
					</button>
					<button ng-click='next()' type='button' class='btn btn-success'>
						<span class='glyphicon glyphicon-chevron-right'></span>
					</button>
				</div>
			</div>
			<div class='panel-body'>
				<div class='list-group'>
					<a ng-click='gotoSurvey(loadedSurvey)' href ng-class='{active: survey.id == loadedSurvey.id}'
						ng-repeat='loadedSurvey in loadedSurveys' class='list-group-item'>
						{{ loadedSurvey.poll_set[0].title }}
						<span ng-hide='loadedSurvey.poll_set[0].title.length'>Untitled</span>
					</a>
				</div>
			</div>
		</div>
	</div>


</div>



</div> <!-- /container -->
