<div ng-switch='question.isCheckbox'>

	<div ng-switch-when='true'>
		<fieldset class='standard'>
			<md-checkbox ng-repeat='choice in question.choices' ng-value='choice'>
				{{ choice.text }}
				<span class='text-muted' ng-hide='choice.text.length > 0'>Choice {{ $index + 1}}</span>
			</md-checkbox>
		</fieldset>
	</div>

	<div ng-switch-default>
		<md-radio-group ng-model='selected'>
			<md-radio-button ng-repeat="choice in question.choices" ng-value="choice" aria-label="{{ choice.text }}">
				{{ choice.text }}
				<span class='text-muted' ng-hide='choice.text.length > 0'>Choice {{ $index + 1}}</span>
			</md-radio-button>
		</md-radio-group>

	</div>

</div>
