<div layout='column'>
	<div flex layout='row' layout-margin>
	<div flex>


		<div class='panel panel-primary create'>

			<div class='panel-heading'>

				<div class='input-group'>
					<input id='title' type='text' class='form-control' placeholder='Poll Title' ng-model='question.title'></input>
					<div class='input-group-btn'>
						<button type='button' class='btn btn-danger' ng-click='questionController.remove()' ng-disabled='questions.length <= 1'>
							<span class='glyphicon glyphicon-remove'></span>
						</button>
					</div>
				</div>
			</div>

			<div class='panel-body'>
				<span>Description (optional)</span>
				<textarea id='description' class='form-control' rows='2' ng-model='question.description'></textarea>
				<div class='text-center' ng-cloak>

					<div class="btn-group" style="margin-top: 20px">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							{{ selectedTitle }} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat='questionType in questionTypes' style="cursor: pointer">
								<a ng-click='select(questionType)'>{{ questionType.title }}</a>
							</li>
						</ul>
					</div>

				</div>
				<div class='content' ng-cloak>
					<!-- Add all of the question creation parameter directives here -->
					<choice-create questiontype='findQuestionType("choice")' ng-show='findQuestionType("choice").selected'></choice-create>
					<yes-no-create questiontype='findQuestionType("yesNo")' ng-show='findQuestionType("yesNo").selected'></yes-no-create>
					<slider-create questiontype='findQuestionType("slider")' ng-show='findQuestionType("slider").selected'></slider-create>
				</div>
			</div> <!-- /panel-body -->

		</div> <!-- /panel -->


	</div> <!-- col-md-5 -->


	<!-- DEMO -->
	<div flex>



		<div class='panel panel-default demo-panel'>

			<div class='panel-heading text-center'>
				<strong>{{ question.title }}</strong>
				<strong ng-show='!question.title'>DEMO</strong>
			</div>
			<div class='panel-body' ng-cloak>
				<!--<label ng-show='question.description.length > 0'>Description</label>-->
				<div class='well well-sm' ng-bind='question.description' ng-show='question.description.length > 0'></div>

				<div ng-repeat="questionType in questionTypes">
					<div class='border-title' ng-show='questionType.selected'>
						<div class='inline-title'>{{ questionType.title }}</div>
					<demo questiontype='findQuestionType(questionType.name)' ng-show='questionType.selected'>
					</demo>
					</div>
				</div>

			</div>

		</div> <!-- /panel -->


	</div> <!-- col-md-7 -->

	</div>
</div> <!-- /row -->
