<div id='content' class='app-view' layout='row' layout-align='center'>
	<div class='max-width no-min-width' flex>

		<div ng-show='error'>
			<div class='alert alert-danger'>Missing some fields</div>
		</div>


		<!-- SURVEY TITLE -->
		<div style='padding: 35px' ng-show='questions.length > 1'>
			<div class='input-group'>
				<span class='input-group-addon'>Survey Title</span>
				<input type='text' class='form-control' placeholder='Untitled Survey' ng-model='survey.survey.title'>
			</div>
		</div>



		<!-- QUESTION + DEMO -->
		<div ng-repeat='question in survey.questions'>
			<question-create question='question' questions='survey.questions'>
			</question-create>
			<hr/>
		</div>


		<!-- BUTTONS -->
		<div style='margin-top: 50px'>
			<div class='col-md-12 text-center'>
				<div class="btn-group">
					<button type='button' class='btn btn-primary' ng-click='survey.addQuestion()'>
						ADD QUESTION <span class='glyphicon glyphicon-plus'></span>
					</button>
					<button type='button' class='btn btn-success' ng-click='survey.submit()'>
						SUBMIT
					</button>
				</div>
			</div>
	</div>
	</div>
</div>
