
/* -------------------------------- VARIABLES -------------------------------- */

$footer-color: #333;
$footer-height: 250px;
$max-width: 800px;
$background-color: #EEE;
$panel-background-color: #FAFAFA;

$raleway-stack: 'Raleway', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$open-sans-stack: 'Open Sans', 'Roboto', 'Helvetica', 'Arial', sans-serif;

$break-small: 600px;
