

#feed {

	@media (max-width: 370px) {
		.padded {
			padding: 0px;
		}
	}

	.loading-icon-container {
		height: 0px;
		position: relative;
		width: 100%;

		.loading-icon {
			width: 100%;
			position: absolute;
			height: 200px;
			z-index: 100;

			md-progress-circular {
				overflow: visible;

			}
		}
	}

	.main.panel {

		.panel-heading {
			position: relative;
			padding-right: 35px;

			.additional-operations {
				float: right;
				position: absolute;
				right: 20px;
				top: 0px;
				bottom: 0px;

				.dropdown-toggle {
					height: 50%;
					width: 16px;
					color: white;
					transition: color 0.2s;
					cursor: pointer;
				}
				.dropdown-toggle:hover {
					color: #999;
				}
			}
		}

		.panel-body {
			padding: 50px;
			padding-top: 30px;
			padding: 30px 50px 30px 50px;

			@media (max-width: 330px) {
				padding: 5px !important;
			}

			.results {
				height: 250px;
			}
		}
	}

	.next-buttons-mobile {
		display: none;
		text-align: center;
		margin: 30px;
	}

	.btn-group.full-length {
		max-width: 300px;
		width: 80%;

		button {
			width: 50%;
		}
	}

	@media (max-width: 700px){

		.next-buttons-mobile {
			display: block;
		}

		.sidebar-layout-container {
			display: none;
		}
	}

	.side.panel {
		.panel-heading {
			.btn-group {
				width: 80%;
			}
		}
		.panel-body {

			padding: 10px;

			.list-group {
				max-height: 300px;
				overflow: scroll;
				word-wrap: break-word;
				margin-bottom: 0px;

				// Makes the top and bottom borders stay when scrolling
				@include border-radius(3px);
				border-top: 1px solid #DDD;
				border-bottom: 1px solid #DDD;

				a.list-group-item:first-child {
					border-top: 0px;
				}
				a.list-group-item:last-child {
					border-bottom: 0px;
				}
			}
		}
	}

	.buttons.panel {
		margin-top: 20px;

		.survey-owner {
			color: #777;
			margin-bottom: 12px;

			.username {
				color: #333;

			}
		}


		.voting-container {
			padding-left: 12px;

			.points.well {
				font-size: 18px;
				padding: 12px;
				padding-left: 14px;
				margin: 8px;

				position: relative;
				top: 4px;

				@include border-radius(4px);
			}

		}

	}

}
