@import 'bootstrap-variables';
@import 'variables';
@import "bootstrap-compass";
@import "bootstrap";
@import 'bootswatch';
@import "compass";



/* -------------------------------- VARIABLES -------------------------------- */

$footer-color: #333;
$footer-height: 250px;
$max-width: 800px;
$background-color: #EEE;
$panel-background-color: #FAFAFA;

$raleway-stack: 'Raleway', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$open-sans-stack: 'Open Sans', 'Roboto', 'Helvetica', 'Arial', sans-serif;

$break-small: 600px;






/* -------------------------------- ANGULAR FORM VALIDATION -------------------------------- */
.ng-valid {
	@extend .has-success;
}


/* -------------------------------- EVERYTHING -------------------------------- */

[ng\:cloak], [ng-cloak], .ng-cloak {
	  display: none !important;
}
p.large-text {
	font-family: 'Open Sans', 'Raleway', 'Helvetica', 'Arial', sans-serif;
	font-weight: 100;
	font-size: 26px;
	line-height: 30px;
}
p.medium-text {
	@extend p.large-text;
	font-size: 18px;
}


.top-buffer {
	margin-top: 30px;
}
.top-buffer-large {
	margin-top: 90px;
}

h1, h2 {
	font-family: $raleway-stack;
	font-weight: bold;
	text-transform: uppercase;
	color: #333;
}

.app-view {
	margin-top: 28px;
}

.max-width {
	width: 95%;

	// Important to override angular material flex
	max-width: $max-width !important;
}
.no-min-width {
	min-width: 0px;
}

.panel-body {
	background: $panel-background-color;
	padding: 28px;
}
md-card {
	background: $panel-background-color;
}


// For particularly long survey titles
.list-group-item-heading {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
// Toggle description visibility on hover
.list-group-item p {
	display: none;
	color: #666;
}
.list-group-item:hover p {
	display: initial;
}

.padded {
	padding: 8px;
}
.padded-extra {
	padding: 16px;
}

body {
	color: #666 !important;
}
@media (max-width: $break-small) {
	.panel-body {
		padding: 10px;
	}
}
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
textarea {
	resize: vertical;
}

.uppercase-label {
	text-transform: uppercase;
	font-size: 1.15em;
}
.right-btn {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.muted {
	color: #999 !important;
}
.md-card {
	color: #333 !important;
}



/* -------------------------------- LANDING -------------------------------- */

#landing {

	.splash {
		box-shadow: inset 0 0 720px rgba(0, 0, 0, 0.3);
		height: 550px;
		background: #439CBF;

		.splash-inner {
			max-width: 900px;

			.splash-text {
				margin-right: 24px;
				font-size: 60px;

				text-align: right;
				@media (max-width: 600px) {
					text-align: center;
				}

				h1 {
					color: white;
					font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
					font-weight: bold;
					text-transform: uppercase;


					@media (max-width: 700px) {
						font-size: 0.75em;
					}
					@media (max-width: 350px) {
						font-size: 0.65em;
					}
				}
				p {
					color: white;
					font-size: 0.38em;

					@media(max-width: 700px) {
						font-size: 0.25em;
					}
				}
			}


			.splash-buttons {
				font-size: 18px;

				.call-primary {
					padding: 12px 20px 12px 20px;
					font-size: 1em;

					@media (max-width: 700px) {
						font-size: 0.8em;
					}
				}
				.call {
					margin: 5px 0 5px;
				}
				.call-secondary-link {
					color: #EEE;
					transition: color 0.2s;
					font-size: 0.9em;

					@media (max-width: 700px) {
						font-size: 0.7em;
					}


					.call-secondary {
						padding-left: 12px;
					}
				}
				.call-secondary-link:hover {
					text-decoration: none;
					color: white;
				}
			}

		}


	}


	// Recent Surveys
	.content:nth-child(odd) {
		background: #F0F0F0;
		z-index: 1;
	}
	.content:nth-child(even) {
		z-index: 2;
		@include box-shadow(rgba(black, 0.3) 0px 0px 10px);
	}

	.content {
		padding-top: 80px;
		padding-bottom: 80px;

		.panel {
			margin-top: 20px;

			.panel-body {
				padding: 35px;
			}
		}
	}


	.content.features {
		h1 {
			color: #444;
		}
	}

	.content.top-surveys {

		.panel {
			width: 100%;
			max-width: $max-width;
			display: inline-block;


		}

		.list-group-item {

			.points-container {
				width: 80px;
				text-align: center;

				@media (max-width: $break-small) {
					width: 40px;
				}


				.badge {
					font-size: 16px;
					padding: 6px 12px 7px;

					@media (max-width: $break-small) {
						padding: 3px 6px 4px;
						font-size: 14px;
					}
				}
			}

			.survey-info {
				padding-right: 10px;
				min-width: 0px;

				h4 {
					color: #555;
					padding-left: 15px;

					@media (max-width: $break-small) {
						padding-left: 5px;
						font-size: 18px;
					}
				}

				hr {
					margin: 12px 0 0 0;

					@media (max-width: $break-small) {
						margin-top: 0px;
					}
				}

				.sub-texts {
					padding-left: 18px;
					color: #999;

					@media (max-width: $break-small) {
						padding-left: 6px;
						font-size: 0.8em;
					}

					.username {
						color: #666;
					}

					.inline-divider {
						margin: 0 6px 0 6px;
					}
				}
			}

		}
	}
}









/* -------------------------------- INDEX -------------------------------- */


// A lot of magic numbers unfortunately
nav.navbar {
	margin-bottom: 0px;

	.icon-bar {
		background: white !important;
	}

	.navbar-brand {
		font-size: 40px;
		position: relative;
		top: -5px;
	}


	.location-container {
		margin-left: 12px;

		@media (max-width: 700px) {
			display: none;
		}

		.location-link {
			padding-bottom: 0px;
		}

		.location {
			margin-left: 6px;
			font-size: 25px;
			position: relative;
			top: 4px;
		}
	}

	.nav {
		text-transform: uppercase;

		.md-button {
			margin: 0px;
			border-radius: 0px;
		}

		li > div {
			height: 100%;
		}

		.text {
			padding-right: 8px;
		}
		/*
		.glyphicon {
			font-size: 20px;
			position: relative;
			top: 4px;
		}
		*/
	}
}

html, body {
	height: 100%;
	background: $background-color !important; // #F9F9F9;
}


.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -$footer-height;
}
.wrapper:after {
	content: '';
	display: block;
}
.footer, .wrapper:after {
	height: $footer-height;
}

.footer {
	padding-top: 50px;
	background: $footer-color;
	font-size: 14px;

	a {
		color: #555;
	}
	a:hover {
		color: #777;
	}
}


/* -------------------------------- EXPLORE -------------------------------- */

// Legend for graph
.keys {
	margin-bottom: 22px;
	color: #999;

	.color-block {
		height: 3px;
		width: 32px;
		display: inline-block;
		opacity: 80%;
		margin: 0 10px 3px;
	}
}

#explore {

	.panel-body {
		padding: 0px;

		.graph-row-bg {
			background: #333;
			padding: 50px 80px 15px 75px;
			color: #AAA;

			.keys {
				color: #999;
			}

			@media (max-width: 480px) {
				padding: 20px 35px 15px 35px;
			}
			@media (max-width: 380px) {
				padding: 5px 20px 5px 20px;
			}

			.graph-row {
				position: relative;

				.x-axis-label, .y-axis-label {
					position: absolute;
					text-transform: uppercase;
				}
				.y-axis-label {
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 60px;
					left: -50px;
					word-wrap: break-word;

					.y-axis-inner {
						@include transform-origin(50%, 50%);

						@media (max-width: 480px) {
							@include rotate(-90deg);
							width: 250px;
							position: relative;
							left: -85px;
							overflow: hidden;
							text-overflow: ellipses;
							white-space: nowrap;
						}
						@media (max-width: 380px) {
							left: -75px;
						}

					}
				}
				.x-axis-label {
					width: 100%;
					text-align: center;
					bottom: -36px;
					text-transform: uppercase;
					padding-left: 50px;
				}

				.explore-graph-container {
					height: 300px;
					margin-bottom: 45px;
					padding-left: 18px;

				}
			}

		}

		.form-row {
			padding: 30px 0 30px 0;
			text-align: center;

			.form-row-inner {
				display: inline-block;
				max-width: 500px;
				width: 90%;


				.help-text-row {
					text-align: left;
					padding-left: 10px;
				}
				.help-text-row.small {
					margin-top: 6px;
				}

				hr.mobile-divider {
					border-color: #DDD;
					margin-top: 30px;
					margin-bottom: 20px;
				}

				md-autocomplete {
					// margin: 6px;
					// background: #FDFDFD;
					background: #FFF;

					input {
						min-width: 0px;
					}

				}

				.filters {
					margin-top: 40px;

					.filter-title {
						text-transform: uppercase;
						font-size: 18px;
						display: none;

						@media (max-width: 510px) {
							display: initial;
						}
					}
					.filter-form:nth-child(4) hr {
						margin-top: 5px;
					}

					.dash {
						// Double padding from .padded
						width: 20px;
						height: 100%;

						@media (max-width: $break-small) {
							// width: 8px;
						}
					}

					.padded {
						@media (max-width: $break-small) {
							padding: 4px;
						}
					}

				}

				.add-filter-btn {
					margin-top: 25px;
				}
			}

		}
	}
}

.md-autocomplete-suggestions li {
	color: #888;

	.highlight {
		color: #222;
	}

	.sub-text {
		color: #999;
		font-size: 0.85em;
		margin-left: 12px;
	}
	.points {
		padding-right: 12px;
		font-size: 0.95em;
	}
}


/* -------------------------------- FEED -------------------------------- */


#feed {

	@media (max-width: 370px) {
		.padded {
			padding: 0px;
		}
	}

	.loading-icon-container {
		height: 0px;
		position: relative;
		width: 100%;

		.loading-icon {
			width: 100%;
			position: absolute;
			height: 200px;
			z-index: 100;

			md-progress-circular {
				overflow: visible;

			}
		}
	}

	.main.panel {

		.panel-heading {
			position: relative;
			padding-right: 35px;

			.additional-operations {
				float: right;
				position: absolute;
				right: 20px;
				top: 0px;
				bottom: 0px;

				.dropdown-toggle {
					height: 50%;
					width: 16px;
					color: white;
					transition: color 0.2s;
					cursor: pointer;
				}
				.dropdown-toggle:hover {
					color: #999;
				}
			}
		}

		.panel-body {
			padding: 50px;
			padding-top: 30px;
			padding: 30px 50px 30px 50px;

			@media (max-width: 330px) {
				padding: 5px !important;
			}

			.results {
				height: 250px;
			}
		}
	}

	.next-buttons-mobile {
		display: none;
		text-align: center;
		margin: 30px;
	}

	.btn-group.full-length {
		max-width: 300px;
		width: 80%;

		button {
			width: 50%;
		}
	}

	@media (max-width: 700px){

		.next-buttons-mobile {
			display: block;
		}

		.sidebar-layout-container {
			display: none;
		}
	}

	.side.panel {
		.panel-heading {
			.btn-group {
				width: 80%;
			}
		}
		.panel-body {

			padding: 10px;

			.list-group {
				max-height: 300px;
				overflow: scroll;
				word-wrap: break-word;
				margin-bottom: 0px;

				// Makes the top and bottom borders stay when scrolling
				@include border-radius(3px);
				border-top: 1px solid #DDD;
				border-bottom: 1px solid #DDD;

				a.list-group-item:first-child {
					border-top: 0px;
				}
				a.list-group-item:last-child {
					border-bottom: 0px;
				}
			}
		}
	}

	.buttons.panel {
		margin-top: 20px;

		.survey-owner {
			color: #777;
			margin-bottom: 12px;

			.username {
				color: #333;

			}
		}


		.voting-container {
			padding-left: 12px;

			.points.well {
				font-size: 18px;
				padding: 12px;
				padding-left: 14px;
				margin: 8px;

				position: relative;
				top: 4px;

				@include border-radius(4px);
			}

		}

	}

}





/* -------------------------------- MODAL -------------------------------- */




/* -------------------------------- ACCOUNT -------------------------------- */

#account {

	.no-recent-surveys {
		height: 100%;
		width: 100%;
		@extend .flex-center;
	}

	.recent-surveys {

		.md-list-item-text {
			padding-bottom: 10px;

			.survey-title {
				color: #444;
				line-height: 1.4em;
			}
			.survey-info {
				@extend .muted;
				font-size: 0.9em;
				margin-top: 5px;
			}

			.survey-points {
				min-width: 70px;
			}
		}
	}

	md-card.basic-info {
		// 2 Times regular margin for even between panel
		margin-top: 16px;
	}
}

.modal-backdrop {
	z-index: -10;
}


#login-modal {



	.modal-header {
		background: $panel-background-color;
		padding-left: 32px;
	}

	.modal-body {
		background: $panel-background-color;

		md-content {
			background: transparent;
		}

		md-tab {
			max-width: 1px;
		}

		label {
			font-weight: normal;
			color: #444;
			font-size: 15px;
		}

		md-input-container {
			padding-left: 6px;
			padding-bottom: 0px;

			label {
				position: relative;
				top: 4px;
				color: #888;
			}

			input, label {
				padding-left: 5px;
			}

			input {
				border-bottom: 1px solid #DDD;
			}
		}

		.buttons-row {
			margin-top: 50px;
			text-align: right;

			.reddit {
				background: #ff5700;
				color: #EFEFEF;
			}
		}
	}


}





/* -------------------------------- CREATE -------------------------------- */


#content {
	margin-bottom: 250px;
}

$placeholder-color: #DFDFDF;


.create {

	/* Specific Creates */
	.slider-create {
		margin-top: 35px;
		padding: 25px;
	}

	.choice-create {

		.lifted-input {
		}
	}



	.panel-heading {
		.input-group {
			input {
				color: white;
				font-weight: thin;
			}

			// Placeholder text color
			input::-webkit-input-placeholder { color: $placeholder-color; }
			input:-ms-input-placeholder { color: $placeholder-color; }
			input::-moz-placeholder {color: $placeholder-color; }
			input:-moz-placeholder {color: $placeholder-color; }

			// Underline color on focus
			input:focus {
				// box-shadow: 0px -2px 0px desaturate(#88EEFF, 40%) inset;
				box-shadow: 0px -2px 0px #FFF inset;
			}

			// Close button
			.btn {
				border-radius: 15px;
				padding: 0px 5px 0px 5px;
				margin-left: 15px;
			}
			.btn:disabled {
				background: red;
			}
			.btn:hover {
				box-shadow: 0 4px 4px 4px 0.1 black;
				@include box-shadow(0, 3px, 4px, 0px, rgba(black, 0.1));
			}
		}
	}


}

.demo-panel {

	.panel-heading {
		min-height: 60px; // To match the create panel
		font-size: 1.1em;
	}

	// To match md-radio-button
	md-checkbox {
		margin: 15px;
	}
}


// For feed as well as demo
.demo {
	.panel-body {
		padding: 25px !important;

		@media (max-width: 400px) {
			padding: 10px !important;
		}

		.well {
			padding: 5px 24px 5px 24px;
			margin-bottom: 28px;
		}
	}
}

/* --- Specifics --- */
.slider-question {
	margin: 8px;

	.slider-value {
		text-align: center;
		border: none;
		min-width: 50px;
		max-width: 20%;
		line-height: 24px;
		padding: 12px;
		margin-left: 12px;
		background: #DDD;
		font-size: 16px;
		font-weight: thin;
	}
}

.choice-question {
	padding-left: 56px;
	padding-right: 30px;

	md-radio-button {
		margin: 7px 18px 7px 0px;
	}
}





// Animate adding question panels


.example-animate-container {
	background:white;
	border:1px solid black;
	list-style:none;
	margin:0;
	padding:0 10px;

}

.animate-repeat {
	line-height:40px;
	list-style:none;
	box-sizing:border-box;
}

// Uncomment to fade on panel close (buggy)
// .animate-repeat.ng-leave,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
	-webkit-transition:all linear 0.3s;
	transition:all linear 0.3s;

}

// .animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
	opacity:0;
	max-height:0;

}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
	opacity:1;
	max-height:40px;

}


/* --- Angular Material --- */

// Removes outline on checkboxes and radioboxes
md-checkbox .md-label {
	border: transparent !important;
}
md-radio-group.md-default-theme:focus {
	border-color: transparent !important;
}



/* --- Custom Stuff --- */

// Creates a border with a space for the title
.border-title {
	border: 1px solid #CCC;
	padding: 15px;
	position: relative;

	@media (max-width: 510px) {
		border: none;
		padding: 0px;
	}


	.inline-title {

		display: inline;
		position: absolute;
		top: -7px;
		left: 20px;
		line-height: 15px;
		background: $panel-background-color;
		padding: 0 12px 0 12px;
		font-size: 15px;

		@media (max-width: 510px) {
			display: none;
		}

	}
}
.border-title.extra-padding {
	padding: 32px;

	@media (max-width: 510px) {
		padding: 0px;
	}
}




input {
	text-align: left;
	height: 40px !important;
	width: 100%;
	padding: 0px 12px 0px 12px !important;
	// background: #FDFDFD;
	background: white;
}

.lifted-input {
	border-radius: 2px;

	input {
		box-shadow: none;
	}
}
