@import 'bootstrap-variables';
@import 'variables';
@import "bootstrap-compass";
@import "bootstrap";
@import 'bootswatch';
@import "compass";



/* -------------------------------- VARIABLES -------------------------------- */

$footer-color: #333;
$footer-height: 250px;

$raleway-stack: 'Raleway', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$open-sans-stack: 'Open Sans', 'Roboto', 'Helvetica', 'Arial', sans-serif;






/* -------------------------------- ANGULAR FORM VALIDATION -------------------------------- */
.ng-valid {
	@extend .has-success;
}


/* -------------------------------- EVERYTHING -------------------------------- */

[ng\:cloak], [ng-cloak], .ng-cloak {
	  display: none !important;
}
p.large-text {
	font-family: 'Open Sans', 'Raleway', 'Helvetica', 'Arial', sans-serif;
	font-weight: 100;
	font-size: 26px;
	line-height: 30px;
}
p.medium-text {
	@extend p.large-text;
	font-size: 18px;
}


.top-buffer {
	margin-top: 30px;
}
.top-buffer-large {
	margin-top: 90px;
}

h1, h2 {
	font-family: $raleway-stack;
	font-weight: bold;
	text-transform: uppercase;
	color: #333;
}

.app-view {
	margin-top: 28px;
}





/* -------------------------------- LANDING -------------------------------- */

#landing {

	.splash {
		box-shadow: inset 0 0 720px rgba(0, 0, 0, 0.3);


		.row {
			margin-top: 10px;
			position: relative;
			top: 120px;
			color: #DDD;
			h1 {
				color: white;
				font-size: 60px;
				font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
				font-weight: bold;
				text-transform: uppercase;
			}
			p {
				color: white;
			}
		}
		height: 550px;
		background: #439CBF;
	}

	.content:nth-child(odd) {
		background: #F0F0F0;
		z-index: 1;
	}
	.content:nth-child(even) {
		z-index: 2;
		@include box-shadow(rgba(black, 0.3) 0px 0px 10px);	
	}

	.content {
		padding-top: 80px;
		padding-bottom: 80px;

		.panel {
			margin-top: 20px;

			.panel-body {
				padding: 35px;
			}
		}
	}


	.content.features {
		h1 {
			color: #444;
		}
	}

	.content.top-surveys {

		.list-group-item-heading {
			padding-right: 50px;
			word-wrap: break-word;
			padding-bottom: 12px;
		}
		// Toggle description visibility on hover
		.list-group-item p {
			display: none;
			color: #666;
		}
		.list-group-item:hover p {
			display: initial;
		}
	}



}



/* -------------------------------- INDEX -------------------------------- */


// A lot of magic numbers unfortunately 
nav.navbar {
	margin-bottom: 0px;

	.navbar-brand {
		font-size: 40px;
		position: relative;
		top: -5px;
	}

	.navbar-right {

		a {
			.text {
				padding-right: 8px;
			}
			.glyphicon {
				font-size: 20px;
				position: relative;
				top: 4px;
			}
		}
	}
}

html, body {
	height: 100%;
}


.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -$footer-height;
}
.wrapper:after {
	content: '';
	display: block;
}
.footer, .wrapper:after {
	height: $footer-height;
}

.footer {
	padding-top: 50px;
	background: $footer-color;
	font-size: 14px;

	a {
		color: #555;
	}
	a:hover {
		color: #777;
	}
}


/* -------------------------------- EXPLORE -------------------------------- */

#explore {

	.panel-body {
		padding: 30px 50px 30px 50px;

		.row.graph-row {
			margin-top: 50px;
			height: 300px;
		}
	}
}


/* -------------------------------- FEED -------------------------------- */


#feed {

	.interpanel.row {
		margin-bottom: 40px;
	}

	.main.panel {

		.panel-body {
			padding: 50px;
			padding-top: 30px;
			padding: 30px 50px 30px 50px;


			.results {
				padding-top: 15px;
				min-height: 250px;
			}
		}
	}

	.side.panel {
		.panel-heading {
			.btn-group {
				width: 80%;

				button {
					width: 50%;
				}
			}
		}
		.panel-body {

			.list-group {
				max-height: 300px;
				overflow: scroll;

				// Makes the top and bottom borders stay when scrolling
				@include border-radius(3px);
				border-top: 1px solid #DDD;
				border-bottom: 1px solid #DDD;

				a.list-group-item:first-child {
					border-top: 0px;
				}
				a.list-group-item:last-child {
					border-bottom: 0px;
				}
			}	
		}
	}

	.buttons.panel {

		.points.well {
			font-size: 18px;
			padding: 7px;
			padding-left: 9px;
			margin: 8px;

			position: relative;
			top: 4px;

			@include border-radius(4px);
		}

		.submit.btn, .comment.btn {
			position: relative;
			// Magic number for vertical align :(
			top: 18px;
		}
	}

}





/* -------------------------------- MODAL -------------------------------- */

.login-modal {
	margin-top: 150px;
}

.modal-backdrop {
	z-index: -10;
}

.modal-body {

	.row {
		margin-top: 15px;

		label {
			width: 100%;
		}
	}
}





/* -------------------------------- CREATE -------------------------------- */


#content {
	margin-bottom: 250px;
}

.create {
	.panel-heading {
		.input-group {
			input {
				color: white;
				font-weight: thin;
			}
			input:focus {
				box-shadow: 0px -2px 0px desaturate(#88EEFF, 40%) inset;
			}
			.btn {
				border-radius: 15px;
				padding: 0px 5px 0px 5px;
				margin-left: 15px;
			}
			.btn:disabled {
				background: red;
			}
			.btn:hover {
				box-shadow: 0 4px 4px 4px 0.1 black;
				@include box-shadow(0, 3px, 4px, 0px, rgba(black, 0.1));
			}
		}
	}
	.panel-body {
		.input-group-btn button {
			border-radius: 3px; 
		}
	}
}



// Fade out animation when close

.example-animate-container {
	background:white;
	border:1px solid black;
	list-style:none;
	margin:0;
	padding:0 10px;

}

.animate-repeat {
	line-height:40px;
	list-style:none;
	box-sizing:border-box;

}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;

}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
	opacity:0;
	max-height:0;

}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
	opacity:1;
	max-height:40px;

}




















