{% extends 'nurvey/base.html' %}
{% load staticfiles %}

{% block js %}
	<script src="{% static 'assets/javascripts/app/create.js'%}"></script>
	<script src="{% static 'assets/javascripts/app/account.js' %}"></script>
	<script src="{% static 'assets/javascripts/app/feed.js' %}"></script>
	<script src="{% static 'assets/javascripts/app/app.js' %}"></script>
	<script src="{% static 'assets/javascripts/app/explore.js' %}"></script>
{% endblock js %}


{% block ng-app %}nurveyApp{% endblock %}
{% block body %}

{% verbatim %}

<!-- NAVBAR -->
<nav class='navbar navbar-default navbar-static-top' role='navigation' ng-controller='NavbarController as navbar'>
	<div class='container'>
		<div class='navbar-header'>
			<a class='navbar-brand' href='#'><span class='glyphicon glyphicon-home'></span></a>
		</div>
		<div id='navbar-main' class='navbar-collapse collapse'>
			<ul class='nav navbar-nav'>

			</ul>
			<ul class='nav navbar-nav navbar-right'>
				<li>
					<a href='#/explore'>
						<span class='text'>EXPLORE</span>
						<span class='glyphicon glyphicon-globe'></span>
					</a>
				</li>
				<li>
					<a href='#/feed'>
						<span class='text'>VIEW</span>
						<span class='glyphicon glyphicon-eye-open'></span>
					</a>
				</li>
				<li>
					<a href='#/create'>
						<span class='text'>CREATE</span>
						<span class='glyphicon glyphicon-plus'></span>
					</a>
				</li>
				<li ng-switch='user.username.length > 0' ng-cloak>
					<a href='#/account' ng-switch-when='true'>
						<span class='text'>{{ user.username | uppercase }}</span>
						<span class='glyphicon glyphicon-user'></span>
					</a>
					<a href ng-switch-default data-toggle='modal' data-target='#login-modal'>
						<span class='text'>LOGIN</span>
						<span class='glyphicon glyphicon-user'></span>
					</a>
				</li>

			</ul>
		</div>
	</div>
</nav>

{% endverbatim %}



<!-- LOGIN MODAL -->
<div id='login-modal' class='modal fade' tabindex='-1' role='dialog' ng-controller='LoginController as login'>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header'>
				LOG IN
			</div>
			<div class='modal-body'>
				<form>
					<div style='width: 100%' class='container'>
						<div class='row'>
							<div ng-show='error' class='alert alert-danger' role='alert'>Incorrect credentials</div> 
						</div>
						<div class='row'>
							<div class='form-group' show-errors>
								<label>
									Username *
								</label>
								<input ng-model='credentials.username' name='username' type='text' class='form-control' required novalidate></input>
							</div>
						</div>
						<div class='row'>
							<div class='form-group' show-errors>
								<label>
									Password *
								</label>
								<input ng-model='credentials.password' name='password' type='password' class='form-control'required novalidate></input>
							</div>
						</div>
						<div class='row'>
							<div class='form-group' show-errors>
								<label>
									Email (only if new user)
								</label>
								<input ng-model='credentials.email' name='email' type='email' class='form-control' novalidate></input>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" ng-bind='credentials.email.length > 0 ? "Register" : "Login"' class="btn btn-primary"
																						ng-click='credentials.email.length > 0 ? login.register() : login.login()'></button>
			</div>
		</div>
	</div>
</div>


<div class='wrapper'>
	<div ng-view></div>
	<div class='push'></div>
</div>

<div class='footer'>
	<div class='container'>
		<div class='row'>
			<div class='col-md-3 col-md-offset-2'>
				<a href>Report an Issue</a><br>
				<a href>About Page</a>
			</div>
			<div class='col-md-3'>
			</div>
			<div class='col-md-3'>
			</div>
		</div>
	</div>
</div>


{% endblock %}

