{% extends 'nurvey/base.html' %}
{% load staticfiles %}

{% block js %}
	<script src="{% static 'assets/javascripts/app/create.js'%}"></script>
	<script src="{% static 'assets/javascripts/app/account.js' %}"></script>
	<script src="{% static 'assets/javascripts/app/feed.js' %}"></script>
	<script src="{% static 'assets/javascripts/app/app.js' %}"></script>
	<script src="{% static 'assets/javascripts/app/explore.js' %}"></script>
{% endblock js %}


{% block ng-app %}nurveyApp{% endblock %}
{% block body %}

{% verbatim %}

<!-- NAVBAR -->
<nav class='navbar navbar-default navbar-static-top' role='navigation' ng-controller='NavbarController as navbar'>
	<div class='container'>
		<div class='navbar-header'>
			<a class='navbar-brand' href='/#/'>
				<span class='glyphicon glyphicon-home'></span>
			</a>
		</div>
		<div id='navbar-main' class='navbar-collapse collapse'>
			<ul class='nav navbar-nav navbar-left'>
				<li class='location-container' ng-show='location.length'>
					<a>
						<span class='glyphicon glyphicon-chevron-right'></span>
						<span class='location' ng-bind='location'></span>
					</a>
				</li>
			</ul>
			<ul class='nav navbar-nav navbar-right'>
				<li>
					<a href='#/explore'>
						<span class='text'>EXPLORE</span>
						<!-- <span class='glyphicon glyphicon-globe'></span> -->
					</a>
				</li>
				<li>
					<a href='#/feed'>
						<span class='text'>VIEW</span>
						<!-- <span class='glyphicon glyphicon-eye-open'></span> -->
					</a>
				</li>
				<li>
					<a href='#/create'>
						<span class='text'>CREATE</span>
						<!-- <span class='glyphicon glyphicon-plus'></span> -->
					</a>
				</li>
				<li ng-switch='user.username.length > 0' ng-cloak>
					<a href='#/account' ng-switch-when='true'>
						<span class='text'>{{ user.username | uppercase }}</span>
						<!-- <span class='glyphicon glyphicon-user'></span> -->
					</a>
					<a href ng-switch-default data-toggle='modal' data-target='#login-modal'>
						<span class='text'>LOGIN</span>
						<!-- <span class='glyphicon glyphicon-user'></span> -->
					</a>
				</li>

			</ul>
		</div>
	</div>
</nav>

{% endverbatim %}



<!-- LOGIN MODAL -->
<div id='login-modal' class='modal fade' tabindex='-1' role='dialog' ng-controller='LoginController as login'>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h4>LOG IN</h4>
			</div>
			<div class='modal-body'>
				<div style='width: 100%' class='container'>
					<md-tabs md-dynamic-height>
						<md-tab label='Login' md-on-select='login.shouldLogin(true)'>
							<md-content class='md-padding'>

								<form name='loginForm' ng-submit='login.login(loginForm.$valid)' novalidate>
									<div class='row'>
										<div ng-show='loginError' class='alert alert-danger' role='alert'>Incorrect credentials</div>
									</div>
									<div class='row'>
										<md-input-container>
											<label>
												Username *
											</label>
											<input ng-model='credentials.username' ng-required='true' required name='username'
												ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
												type='text'></input>
										</md-input-container>
										<div ng-bind='login.usernameValid()'></div>
									</div>
									<div class='row'>
										<md-input-container>
											<label>
												Password *
											</label>
											<input ng-model='credentials.password' ng-required='true' required name='password'
												type='password'></input>
										</md-input-container>
									</div>
									<div class='row buttons-row'>
										<button type="button" class="btn btn-default" ng-click='login.loginReddit()'>Login With Reddit</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<button type="submit" ng-disabled='loginForm.$invalid' class="btn btn-primary">Login</button>
									</div>
								</form>
							</md-content>
						</md-tab>

							<!-- Second Tab -->
						<md-tab label='Register' md-on-select='login.shouldLogin(false)'>
							<md-content class='md-padding'>
								<form name='registerForm' ng-submit='login.register(registerForm.$valid)' novalidate>
									<div class='row'>
										<div ng-show='registerError' class='alert alert-danger' role='alert'>Incorrect credentials</div>
									</div>
									<div class='row'>
										<md-input-container>
											<label>
												Username *
											</label>
											<input ng-model='credentials.username' required name='username'
												ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
												type='text' class='form-control' unique-username></input>
												<span ng-show="registerForm.username.$pending.uniqueUsername">Checking if this name is available...</span>
												<span ng-show="registerForm.username.$error.uniqueUsername">This username is already taken!</span>
												<span ng-show="registerForm.username.$dirty && registerForm.username.$error.required">This field is required</span>
										</md-input-container>
									</div>
									<div class='row'>
										<md-input-container>
											<label>
												Password *
											</label>
											<input ng-model='credentials.password' ng-required='true' required name='password'
												type='password'></input>
											<span ng-show="registerForm.password.$dirty && registerForm.password.$error.required">This field is required</span>
										</md-input-container>
									</div>
									<div class='row'>
										<md-input-container>
											<label>
												Confirm Password *
											</label>
											<input ng-model='confirmPassword' ng-model-options="{ updateOn: 'blur' }" name='confirmPassword'
												type='password' match-password></input>
											<span ng-show="registerForm.confirmPassword.$error.matchPassword">Passwords do not match</span>
										</md-input-container>
									</div>
									<div class='row'>
										<md-input-container>
											<label>
												Email *
											</label>
											<input required ng-model='credentials.email' ng-model-options="{ updateOn: 'blur' }" name='email' type='email'></input>
											<span ng-show="registerForm.email.$dirty && registerForm.email.$error.required">This field is required</span>
											<span ng-show="registerForm.email.$error.email">Not a valid Email!</span>
										</md-input-container>
									</div>
									<div class='row buttons-row'>
										<button type="button" class="btn btn-default" ng-click='login.loginReddit()'>Login With Reddit</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<button type="submit" ng-disabled='registerForm.$invalid' class="btn btn-primary">Register</button>
									</div>
								</form>
							</md-content>
						</md-tab>
					</tabset>
				</div>
			</div>
			<div class="modal-footer">
				<!-- The buttons used to be here... -->
			</div>
		</div>
	</div>
</div>


<div class='wrapper'>
	<div ng-view></div>
	<div class='push'></div>
</div>

<div class='footer'>
	<div class='container'>
		<div class='row'>
			<div class='col-md-3 col-md-offset-2'>
				<!--
				<a href>Report an Issue</a><br>
				<a href>About Page</a>
				-->
			</div>
			<div class='col-md-3'>
			</div>
			<div class='col-md-3'>
			</div>
		</div>
	</div>
</div>


{% endblock %}
