<div id='landing'>

	<div class='splash' layout='row' layout-align='center center'>
		<div class='splash-inner' layout='row' layout-align='center center' flex layout-margin>
			<div flex class='splash-text text-right'>
				<h1>
					CORRELATED SURVEYS
				</h1>
				<p class='large-text'>
					Discover relationships between demographics with
					data from user-generated polls.
				</p>
			</div>
			<div flex='30' class='splash-buttons'>
				<a href='#/create'>
					<button type='button' class='btn btn-success call-primary call'>Create a Survey!</button>
				</a>
				<a href='#/feed' class='call-secondary-link'>
					<div class='call-secondary call'>Or view existing surveys</div>
				</a>

			</div>
		</div>
	</div>

	<!-- Hide this row for now until content -->
	<div class='content features hidden'>
		<div class='container'>
			<!-- UNIQUE FEATURES HEADER
			<div class='row'>
				<div class='col-md-8 col-md-offset-2 text-center'>
					<h2 class='dark'>UNIQUE FEATURES</h2>
				</div>
			</div>
			-->
			<div class='row'>
				<div class='col-md-4'>
					<div class='panel panel-default'>
						<div class='panel-body'>
							<h1 class='text-center'><span class='glyphicon glyphicon-leaf'></span></h1>
							<p class='text-center medium-text'>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consequat tellus at justo egestas, non tempor magna mattis. Praesent mattis tellus eget est egestas.
							</p>
						</div>
					</div>
				</div>
				<div class='col-md-4'>
					<div class='panel panel-default'>
						<div class='panel-body'>
							<h1 class='text-center'><span class='glyphicon glyphicon-stats'></span></h1>
							<p class='text-center medium-text'>
							 Fusce ornare consequat tempus. Duis in tempor dolor, nec sollicitudin sapien. Vestibulum eget placerat sem. Nullam eu tempor mauris. Maecenas sed vestibulum lorem. Sed id viverra ipsum.
							</p>
						</div>
					</div>
				</div>
				<div class='col-md-4'>
					<div class='panel panel-default'>
						<div class='panel-body'>
							<h1 class='text-center'><span class='glyphicon glyphicon-globe'></span></h1>
							<p class='text-center medium-text'>
							Donec feugiat erat in pulvinar consectetur. Phasellus gravida nisi risus, nec tincidunt felis facilisis eu. Donec vel tortor dictum, gravida sem sollicitudin, ullamcorper turpis, vel venenatis orci luctus.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class='content top-surveys'>
		<div class='container'>
			<div class='row'>
				<div class='col-md-8 col-md-offset-2 text-center'>
					<h2 class='dark'>RECENT SURVEYS</h2>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-10 col-md-offset-1 text-center'>
					<div class='panel panel-default'>
						<div class='panel-body'>

							<div class='list-group text-left'>
								<a ng-href='#/feed/{{ survey.id }}' class='list-group-item' ng-repeat='survey in surveys'>
									<div layout-align='start center' layout='row' layout-wrap>
										<div flex='90'>
											<h4 class='list-group-item-heading' ng-cloak>{{ survey.title }}</h4>
											<hr/>
											<div class='sub-texts'>
												Posted {{ survey.time_ago }} ago by
												<span class='username'>{{ survey.owner.username }}</span>
												<span class='inline-divider'>&#x2014;</span>
												{{ survey.num_responses }} Responses
											</div>
										</div>


										<div flex='10' class='text-center'>
											<div class='badge' ng-cloak>
												{{ survey.num_upvotes - survey.num_downvotes }}
												<span class='glyphicon glyphicon-leaf'></span>
											</div>
										</div>
										<p class='list-group-item-text' ng-cloak flex='90'>{{ survey.poll_set[0].description }}</p>
									</div>
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
