<div id='landing'>

	<div class='splash'>
		<div class='container'>
			<div class='row'>
				<div class='col-md-8 col-md-offset-2 text-center'>
					<h1>
						LOREM IPSUM
					</h1>
					<p class='large-text'>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit
						Correlate
					</p>
				</div>
			</div>
			<div class='row text-center'>
				<a href='#/create'>
					<button type='button' class='btn btn-default'>Create a Survey!</button>
				</a>
			</div>
			<div class='row text-center'>
				<a href='#/feed'>
					<button type='button' class='btn btn-primary'>Or View existing surveys</button>
				</a>
			</div>
		</div>
	</div>

	<!-- Hide this row for now until content -->
	<div class='content features hidden'>
		<div class='container'>
			<!-- UNIQUE FEATURES HEADER
			<div class='row'>
				<div class='col-md-8 col-md-offset-2 text-center'>
					<h2 class='dark'>UNIQUE FEATURES</h2>
				</div>
			</div>
			-->
			<div class='row'>
				<div class='col-md-4'>
					<div class='panel panel-default'>
						<div class='panel-body'>
							<h1 class='text-center'><span class='glyphicon glyphicon-leaf'></span></h1>
							<p class='text-center medium-text'>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consequat tellus at justo egestas, non tempor magna mattis. Praesent mattis tellus eget est egestas.
							</p>
						</div>
					</div>
				</div>
				<div class='col-md-4'>
					<div class='panel panel-default'>
						<div class='panel-body'>
							<h1 class='text-center'><span class='glyphicon glyphicon-stats'></span></h1>
							<p class='text-center medium-text'>
							 Fusce ornare consequat tempus. Duis in tempor dolor, nec sollicitudin sapien. Vestibulum eget placerat sem. Nullam eu tempor mauris. Maecenas sed vestibulum lorem. Sed id viverra ipsum.
							</p>
						</div>
					</div>
				</div>
				<div class='col-md-4'>
					<div class='panel panel-default'>
						<div class='panel-body'>
							<h1 class='text-center'><span class='glyphicon glyphicon-globe'></span></h1>
							<p class='text-center medium-text'>
							Donec feugiat erat in pulvinar consectetur. Phasellus gravida nisi risus, nec tincidunt felis facilisis eu. Donec vel tortor dictum, gravida sem sollicitudin, ullamcorper turpis, vel venenatis orci luctus.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class='content top-surveys'>
		<div class='container'>
			<div class='row'>
				<div class='col-md-8 col-md-offset-2 text-center'>
					<h2 class='dark'>RECENT SURVEYS</h2>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-10 col-md-offset-1 text-center'>
					<div class='panel panel-default'>
						<div class='panel-body'>

							<div class='list-group text-left'>
								<a ng-href='#/feed/{{ survey.id }}' class='list-group-item' ng-repeat='survey in surveys'>
									<div layout-align='start center' layout='row' layout-wrap>
										<h4 class='list-group-item-heading' ng-cloak flex='90'>{{ survey.title }}</h4>
										<div flex='10' class='text-center'>
											<div class='badge' ng-cloak>
												{{ survey.num_upvotes - survey.num_downvotes }}
												<span class='glyphicon glyphicon-leaf'></span>
											</div>
										</div>
										<p class='list-group-item-text' ng-cloak flex='90'>{{ survey.poll_set[0].description }}</p>
									</div>
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
