/* -------------------------------- MODAL -------------------------------- */
/* line 7, ../sass/screen.scss */
.login-modal {
  margin-top: 150px;
}

/* line 11, ../sass/screen.scss */
.modal-backdrop {
  z-index: -10;
}

/* line 17, ../sass/screen.scss */
.modal-body .row {
  margin-top: 45px;
}
/* line 20, ../sass/screen.scss */
.modal-body .row label {
  width: 100%;
}

/* -------------------------------- CREATE -------------------------------- */
/* line 33, ../sass/screen.scss */
#content {
  margin-bottom: 250px;
}

/* line 40, ../sass/screen.scss */
.create .panel-heading .input-group input {
  color: black;
}
/* line 43, ../sass/screen.scss */
.create .panel-heading .input-group input:focus {
  box-shadow: 0px -2px 0px #88EEFF inset;
}
/* line 46, ../sass/screen.scss */
.create .panel-heading .input-group .btn {
  border-radius: 15px;
  padding: 0px 5px 0px 5px;
  margin-left: 15px;
}
/* line 51, ../sass/screen.scss */
.create .panel-heading .input-group .btn:disabled {
  background: red;
}
/* line 54, ../sass/screen.scss */
.create .panel-heading .input-group .btn:hover {
  box-shadow: 0 4px 4px 4px 0.1 black;
  -webkit-box-shadow: 0, 3px, 4px, 0px, rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0, 3px, 4px, 0px, rgba(0, 0, 0, 0.1);
  box-shadow: 0, 3px, 4px, 0px, rgba(0, 0, 0, 0.1);
}
/* line 61, ../sass/screen.scss */
.create .panel-body .input-group-btn button {
  border-radius: 3px;
}

/* line 67, ../sass/screen.scss */
.demo .panel-heading {
  color: #333333;
}
